<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Продвижение и развитие</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="shortcut icon" th:href="@{/images/log.png}">
    <link th:rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<nav class="navbar navbar-expand-lg fixed-top" role="navigation">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/images/Logotip333.png" alt="Bootstrap" class="img-fluid" width="90" height="90">
        </a>

        <!-- Бургер-меню -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Переключатель навигации">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Элементы, которые должны отображаться перед бургер-меню -->
        <div class="d-flex order-1 order-md-3 ms-auto">
            <a class="navbar-brand ms-auto m-1 d-none d-md-block" href="/form" style="padding: 0 1px">
                <button type="button" class="btn btn-warning outline-warning btn-sm"
                        style="font-size: 18px; font-weight: 800; font-family: 'Times New Roman', sans-serif">Подать
                    заявку
                </button>
            </a>
            <a class="navbar-brand ms-auto m-1" href="https://wa.me/+79601127961" style="padding: 0 1px">
                <img src="/images/watapp.png" alt="Bootstrap" width="25" height="25">
            </a>
            <a class="navbar-brand ms-auto m-1" href="https://t.me/BaloveniS" style="padding: 0 1px">
                <img src="/images/telegram.png" alt="Bootstrap" width="25" height="25">
            </a>
        </div>

        <!-- Основное меню -->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/price" style="color: white; font-weight: 700">Услуги</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/info" style="color: white;font-weight: 700">О нас</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact" style="color: white; font-weight: 700">Контакты</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="one">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 element-1 d-block d-md-none">
                <a class="navbar-brand">
                    <img src="/images/Logotip333.png" alt="Bootstrap" class="img-fluid">
                </a>
                <br>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <br>
                <h1 style="text-transform: uppercase;
            text-align: left;font-family: 'Times New Roman',sans-serif;
            color: #e8e705; font-weight: 900">О нашей команде</h1>
                <br>
                <h3 style="text-align: left; font-family: 'Times New Roman',sans-serif; font-size: 30px">Наш маркетплейс был создан с целью предоставить
                    пользователям удобный и надёжный сервис для покупки и продажи товаров. Мы стремимся создать платформу,
                    где продавцы и покупатели могут взаимодействовать на выгодных условиях, а также обеспечить высокий
                    уровень удовлетворённости клиентов
                </h3>
                <br>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 element-2 d-none d-md-block">
                <br>
                <br>
                <br>
                <br>
                <a class="navbar-brand">
                    <img src="/images/Logotip333.png" alt="Bootstrap" class="img-fluid">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="two">
    <div class="container-fluid text-center ">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h1 style="text-align: left; font-family: 'Times New Roman',sans-serif; font-weight: 900">
                    Для чего нужно продвижение на маркетплейсах</h1>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 element-1 d-block d-md-none">
                <a class="navbar-brand">
                    <img src="/images/Market1.png" alt="Bootstrap" class="img-fluid">
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <br>
                <br>
                <a style="font-size: 20px; display: flex; align-items: center;">
                    <img src="/images/конкуренция.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
                    <span style="margin-left: 5px;"> Высокая конкуренция</span>
                </a>
                <br>
                <a style="font-size: 20px; display: flex; align-items: center;">
                    <img src="/images/конверсия.png" alt="Logo"  width="25" height="25" class="d-inline-block align-text-top">
                    <span style="margin-left: 5px;">Рост конверсии</span>
                </a>
                <br>
                <a style="font-size: 20px; display: flex; align-items: center;">
                    <img src="/images/доверие%20.png" alt="Logo"  width="30" height="30" class="d-inline-block align-text-top">
                    <span style="margin-left: 5px;">Увеличение доверия</span>
                </a>
                <br>
                <a style="font-size: 20px; display: flex; align-items: center;">
                    <img src="/images/конкуренция.png" alt="Logo"  width="30" height="30" class="d-inline-block align-text-top">
                    <span style="margin-left: 5px;"> Конкурентное преимущество</span>
                </a>
                <br>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 element-2 d-none d-md-block">
                <br>
                <a>
                    <img src="/images/Market1.png" class="img-fluid" alt="Bootstrap" width="700" height="450">
                </a>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h5 style="text-align: left; font-family: 'Times New Roman',sans-serif; font-weight: 900; font-size: 20px">
                    Эффективное продвижение позволяет увеличить продажи на 20-50% и более. Оно включает
                    как внутренние инструменты (оптимизация карточек, реклама на площадке), так и внешние
                    каналы (социальные сети, email-рассылки, рекламные сети).</h5>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h1 style="text-align: left; font-family: 'Times New Roman',sans-serif; font-weight: 900">
                    Грамотно выстроенная стратегия продвижения помогает:</h1>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <br>
                <br>
                <a style="font-size: 20px; display: flex; align-items: center;">
                    <img src="/images/аудитория%20.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
                    <span style="margin-left: 5px;"> Привлечь целевую аудиторию</span>
                </a>
                <br>
                <a style="font-size: 20px; display: flex; align-items: center;">
                    <img src="/images/продажи.png" alt="Logo"  width="30" height="30" class="d-inline-block align-text-top">
                    <span style="margin-left: 5px;">Увеличить количество продаж</span>
                </a>
                <br>
                <a style="font-size: 20px; display: flex; align-items: center;">
                    <img src="/images/узнаваемость.png" alt="Logo"  width="25" height="25" class="d-inline-block align-text-top">
                    <span style="margin-left: 5px;"> Повысить узнаваемость бренда</span>
                </a>
                <br>
                <a style="font-size: 20px; display: flex; align-items: center;">
                    <img src="/images/база.png" alt="Logo"  width="30" height="30" class="d-inline-block align-text-top">
                    <span style="margin-left: 5px;"> Создать лояльную клиентскую базу</span>
                </a>
                <br>
                <a style="font-size: 20px; display: flex; align-items: center;">
                    <img src="/images/позиции.png" alt="Logo"  width="30" height="30" class="d-inline-block align-text-top">
                    <span style="margin-left: 5px;">  Укрепить позиции на рынке</span>
                </a>
                <br>
            </div>
        </div>
    </div>
    <div class="three">
        <div class="container-fluid text-center">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <br>
                    <br>
                    <h1 style="text-transform: uppercase;
            text-align: left;font-family: 'Times New Roman',sans-serif;
            color: white; font-weight: 900">
                        Ваша опытная команда, которая начнет работу уже сегодня
                    </h1>
                </div>
            </div>
        </div>
        <div class="container-fluid text-center">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="container-fluid">
                        <div class="row flex-row flex-nowrap overflow-auto">
                            <div class="col">
                                <div class="card"
                                     style="text-align: left; font-family: 'Times New Roman',sans-serif;width: 20rem; height: 15rem">
                                    <div class="card-body" style="background-color: #180d26;">
                                        <h5 class="card-title" style="color: white">Взрывной рост продаж:</h5>
                                        <p class="card-text" style="color: white">Комплексное продвижение товаров на
                                            маркетплейсах увеличит количество ваших заказов.</p>
                                        <img src="/images/1.png" class="position-absolute bottom-0 end-0 p-3"
                                             style="width: 50px; height: 50px;background-color: #f7e00c; border-radius: 100%">
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card"
                                     style="text-align: left; font-family: 'Times New Roman',sans-serif;width: 20rem; height: 15rem">
                                    <div class="card-body" style="background-color: #180d26;">
                                        <h5 class="card-title" style="color: white">Положительные отзывы:</h5>
                                        <p class="card-text" style="color: white">Увеличение числа довольных покупателей
                                            и, как следствие, положительных отзывов.</p>
                                        <img src="/images/2.png" class="position-absolute bottom-0 end-0 p-3"
                                             style="width: 50px; height: 50px;background-color: #f7e00c; border-radius: 100%">
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card"
                                     style="text-align: left; font-family: 'Times New Roman',sans-serif;width: 20rem; height: 15rem">
                                    <div class="card-body" style="background-color: #180d26;">
                                        <h5 class="card-title" style="color: white">Высокие позиции в поиске:</h5>
                                        <p class="card-text" style="color: white">Гарантированные топовые размещения,
                                            обеспечивающие максимальную видимость.</p>
                                        <img src="/images/3.png" class="position-absolute bottom-0 end-0 p-3"
                                             style="width: 50px; height: 50px;background-color: #f7e00c; border-radius: 100%">
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card"
                                     style="text-align: left; font-family: 'Times New Roman',sans-serif;width: 20rem; height: 15rem">
                                    <div class="card-body" style="background-color: #180d26;">
                                        <h5 class="card-title" style="color: white">Быстрый запуск рекламы:</h5>
                                        <p class="card-text" style="color: white">Оптимизация рекламных кампаний и
                                            быстрый запуск эффективных стратегий.</p>
                                        <img src="/images/4.png" class="position-absolute bottom-0 end-0 p-3"
                                             style="width: 50px; height: 50px;background-color: #f7e00c; border-radius: 100%">
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card"
                                     style="text-align: left; font-family: 'Times New Roman',sans-serif;width: 20rem; height: 15rem">
                                    <div class="card-body" style="background-color: #180d26;">
                                        <h5 class="card-title" style="color: white">Полная поддержка продавца:</h5>
                                        <p class="card-text" style="color: white">Индивидуальный подход и круглосуточная
                                            поддержка на всех этапах продвижения.</p>
                                        <img src="/images/5.png" class="position-absolute bottom-0 end-0 p-3"
                                             style="width: 50px; height: 50px;background-color: #f7e00c; border-radius: 100%">
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card"
                                     style="text-align: left; font-family: 'Times New Roman',sans-serif;width: 20rem; height: 15rem">
                                    <div class="card-body" style="background-color: #180d26;">
                                        <h5 class="card-title" style="color: white">Улучшенный сервис:</h5>
                                        <p class="card-text" style="color: white">Повышение уровня сервиса и лояльности
                                            ваших клиентов благодаря эффективному продвижению.</p>
                                        <img src="/images/6.png" class="position-absolute bottom-0 end-0 p-3"
                                             style="width: 50px; height: 50px;background-color: #f7e00c; border-radius: 100%">
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card"
                                     style="text-align: left; font-family: 'Times New Roman',sans-serif;width: 20rem; height: 15rem">
                                    <div class="card-body" style="background-color: #180d26;">
                                        <h5 class="card-title" style="color: white">Заказать консультацию</h5>
                                        <p class="card-text" style="color: white">Комплексное продвижение товаров на
                                            маркетплейсах увеличит количество ваших заказов.</p>
                                        <img src="/images/77.png" class="position-absolute bottom-0 end-0 p-3"
                                             style="width: 53px; height: 53px;background-color: #f7e00c; border-radius: 100%; font-weight: 700"
                                             ;>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card"
                                     style="text-align: left; font-family: 'Times New Roman',sans-serif;width: 20rem; height: 15rem">
                                    <div class="card-body" style="background-color: #180d26;">
                                        <h5 class="card-title" style="color: white">Взрывной рост продаж:</h5>
                                        <p class="card-text" style="color: white">Комплексное продвижение товаров на
                                            маркетплейсах увеличит количество ваших заказов.</p>
                                        <img src="/images/88.png" class="position-absolute bottom-0 end-0 p-3"
                                             style="width: 50px; height: 50px;background-color: #f7e00c; border-radius: 100%">
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <a href="/form" style="text-decoration: none;">
                                    <div class="card"
                                         style="text-align: left; font-family: 'Times New Roman',sans-serif;width: 20rem; height: 15rem">
                                        <div class="card-body" style="background-color: #550db5">
                                            <h5 class="card-title"
                                                style="color: #e8e705;  text-transform: uppercase; font-weight: 700">
                                                Заказать консультацию</h5>
                                            <p class="card-text" style="color: #e8e705; font-size: 20px">Ответим на все
                                                вопросы, рассчитаем рост продаж для вашего магазина</p>
                                            <img src="/images/рука.png" class="position-absolute bottom-0 end-0"
                                                 style="width: 50px; height: 50px;
                                    background-color: #f7e00c; border-radius: 100%">
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid text-center">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <br>
                    <br>
                    <h1 style="text-align: left; font-family: 'Times New Roman',sans-serif; font-size: 50px; font-weight: 900">
                        Наша магия – в цифрах!
                    </h1>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 mb-4">

                    <div style="background-color: #180d26; width: 15rem;height: 7rem; border-radius: 15%">
                        <h3 style="text-align: left; font-family: 'Times New Roman',sans-serif; font-size: 25px; font-weight: 500; color: #e8e705">
                            >1 млрд руб
                        </h3>
                        <h3 style="text-align: left; font-family: 'Times New Roman',sans-serif; font-size: 20px; font-weight: 200">
                            мы принесли нашим клиентам за годы нашей работы сверх их доходов
                        </h3>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 mb-4">
                    <div style="background-color: #180d26; width: 15rem;height: 7rem; border-radius: 15%">
                        <h3 style="text-align: left; font-family: 'Times New Roman',sans-serif; font-size: 25px; font-weight: 500; color: #e8e705">
                            7 лет
                        </h3>
                        <h3 style="text-align: left; font-family: 'Times New Roman',sans-serif; font-size: 20px; font-weight: 200">
                            работаем на иностранных и российских маркетплейсах
                        </h3>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 mb-4">
                    <div style="background-color: #180d26; width: 15rem;height: 7rem; border-radius: 15%">
                        <h3 style="text-align: left; font-family: 'Times New Roman',sans-serif; font-size: 25px; font-weight: 500; color: #e8e705">
                            +100 млн руб
                        </h3>
                        <h3 style="text-align: left; font-family: 'Times New Roman',sans-serif; font-size: 20px; font-weight: 200">
                            объем продаж наших поставщиков в месяц
                        </h3>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 mb-4">
                    <div style="background-color: #180d26; width: 15rem;height: 7rem; border-radius: 15%">
                        <h3 style="text-align: left; font-family: 'Times New Roman',sans-serif; font-size: 25px; font-weight: 500; color: #e8e705">
                            >300 поставщиков
                        </h3>
                        <h3 style="text-align: left; font-family: 'Times New Roman',sans-serif; font-size: 20px; font-weight: 200">
                            доверились нам и растут с нами каждый день
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid text-center">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <br>
                    <br>
                    <h1 style="text-align: left;font-family: 'Times New Roman',sans-serif;
                color: white; font-weight: 900">
                        Наши услуги
                    </h1>
                </div>
                <div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-3 mb-4">
                    <div class="card gx-10 h-100 d-flex align-items-center" style="text-align: left; font-family: 'Times New Roman', sans-serif; width: 15rem; height: 10rem;">
                        <div class="card-body d-flex flex-column" style="background-color: #180d26;">
                            <h5 class="card2" style="color: #e8e705">Ведение кабинета на Маркетплейсе нашей командой под ключ*</h5>
                            <h6 class="card2" style="font-size: 10px">*при количестве артикулов в рекламе от 1-3, не более 5 цветов на артикул</h6>

                            <h5 class="card2" style="font-size: 15px">Анализ товара, ниши и конкурентов. SEO, контент карточки под ключ, реклама, акции, отзывы, юнит-экономика, внешняя реклама, индивидуальная стратегия.</h5>

                            <h5 class="card2" style="font-size: 15px">Цель - масштабирование, рост прибыли, узнаваемость бренда.</h5>
                            <br>
                            <br>
                            <div class="mt-auto">
                                <h1 class="card2" style="font-size: 10px; font-weight: 700">СТОИМОСТЬ</h1>
                                <h1 class="card2 mb-1" style="font-size: 25px; font-weight: 700">от 70 000р.</h1>
                                <a href="/form">
                                    <button type="button" class="btn btn-warning">ЗАПИСАТЬСЯ НА БЕСПЛАТНУЮ КОНСУЛЬТАЦИЮ</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-3 mb-4">
                    <div class="card gx-10 h-100 d-flex align-items-center" style="text-align: left; font-family: 'Times New Roman', sans-serif; width: 15rem; height: 10rem;">
                        <div class="card-body d-flex flex-column" style="background-color: #180d26;">
                            <h5 class="card2" style="color: #e8e705">Наставничество</h5>
                            <h6 class="card2" style="font-size: 10px">для начинающих селлеров</h6>

                            <h5 class="card2" style="font-size: 15px">Мы знаем, как помочь вам построить прибыльный бизнес на Маркетплейсе. Создание стратегии в финансах.</h5>

                            <h5 class="card2" style="font-size: 15px">Цель - масштабирование, рост прибыли, узнаваемость бренда.</h5>
                            <br>
                            <br>
                            <div class="mt-auto">
                                <h1 class="card2" style="font-size: 10px; font-weight: 700">СТОИМОСТЬ</h1>
                                <h1 class="card2 mb-1" style="font-size: 25px; font-weight: 700">от 60 000р.</h1>
                                <a href="/form">
                                    <button type="button" class="btn btn-warning">ЗАПИСАТЬСЯ НА БЕСПЛАТНУЮ КОНСУЛЬТАЦИЮ</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-3 mb-4">
                    <div class="card gx-10 h-100 d-flex align-items-center" style="text-align: left; font-family: 'Times New Roman', sans-serif; width: 15rem; height: 10rem;">
                        <div class="card-body d-flex flex-column" style="background-color: #180d26;">
                            <h5 class="card2" style="color: #e8e705">Подбор товара с глубокой аналитикой</h5>
                            <h6 class="card2" style="font-size: 10px">Выбор товара</h6>

                            <h5 class="card2" style="font-size: 15px">
                                • Первая партия<br>
                                • Сколько вложить в продвижение<br>
                                • За сколько продавать<br>
                                • Анализ конкурентов</h5>

                            <h5 class="card2" style="font-size: 15px">Цель - масштабирование, рост прибыли, узнаваемость бренда.</h5>
                            <br>
                            <br>
                            <div class="mt-auto">
                                <h1 class="card2" style="font-size: 10px; font-weight: 700">СТОИМОСТЬ</h1>
                                <h1 class="card2 mb-1" style="font-size: 25px; font-weight: 700">от 60 000р.</h1>
                                <a href="/form">
                                    <button type="button" class="btn btn-warning">ЗАПИСАТЬСЯ НА БЕСПЛАТНУЮ КОНСУЛЬТАЦИЮ</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-3 mb-4">
                    <div class="card gx-10 h-100 d-flex align-items-center" style="text-align: left; font-family: 'Times New Roman', sans-serif; width: 15rem; height: 10rem;">
                        <div class="card-body d-flex flex-column" style="background-color: #180d26;">
                            <h5 class="card2" style="color: #e8e705">Индивидуальное обучение</h5>

                            <h5 class="card2" style="font-size: 15px">
                                • созвоны 3 раза в неделю<br>
                                • записи видеоуроков<br>
                                • содержание курса в виде файлов<br>
                                • домашние задания<br>
                                • полное владение работой на маркетплейсе к концу обучения<br>
                                • Выход на маркетплейс с 0<br>
                                • подбор товара<br>
                            </h5>

                            <br>
                            <br>
                            <div class="mt-auto">
                                <h1 class="card2" style="font-size: 10px; font-weight: 700">СТОИМОСТЬ</h1>
                                <h1 class="card2 mb-1" style="font-size: 25px; font-weight: 700">от 100 000р.</h1>
                                <a href="/form">
                                    <button type="button" class="btn btn-warning">ЗАПИСАТЬСЯ НА БЕСПЛАТНУЮ КОНСУЛЬТАЦИЮ</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="line"></div>
</div>
<footer class="text-center text-lg-start text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 ">
        <!-- Left -->

        <!-- Right -->
    </section>
    <!-- Section: Social media -->
    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <a class="navbar-brand mb-4" href="#">
                            <img src="/images/Logotip333.png" alt="Bootstrap" width="150" height="150">
                        </a>
                    </h6>
                    <p style="color: white; font-family: 'Times New Roman',sans-serif">
                        Это больше, чем просто маркетплейс. Это экосистема возможностей, где каждый находит то, что ищет.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4" style="color: white; font-family: 'Times New Roman',sans-serif">
                        Продукты
                    </h6>
                    <p style="color: white; font-family: 'Times New Roman',sans-serif">
                        <a href="/form" style="color: white; font-family: 'Times New Roman',sans-serif; text-decoration: none;">Продвижение на Ozon</a>
                    </p>
                    <p>
                        <a href="/form"  style="color: white; font-family: 'Times New Roman',sans-serif; text-decoration: none;">Продвижение на WildBerries</a>
                    </p>
                    <p>
                        <a href="/form" style="color: white; font-family: 'Times New Roman',sans-serif; text-decoration: none;">Продвижение на Яндекс Маркете</a>
                    </p>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4" style="color: white; font-family: 'Times New Roman',sans-serif">Контакты</h6>
                    <p style="color: white; font-family: 'Times New Roman',sans-serif">
                        <i class="fas fa-envelope me-3" style="color: white; font-family: 'Times New Roman',sans-serif"></i>
                        prodmarketplace@mail.ru
                    </p>
                    <p style="color: white; font-family: 'Times New Roman',sans-serif"><i class="fas fa-phone me-3" style="color: white; font-family: 'Times New Roman',sans-serif"></i> + 7 960 112 79 61</p>
                    <p style="color: white; font-family: 'Times New Roman',sans-serif"><i class="fas fa-print me-3" style="color: white; font-family: 'Times New Roman',sans-serif"></i> + 7 980 545 91 21</p>
                    <div>
                        <a class="navbar-brand mb-4" href="https://wa.me/+79601127961">
                            <img src="/images/watapp.png" alt="Bootstrap" width="30" height="30">
                        </a>
                        <a class="navbar-brand mb-4" href="https://t.me/BaloveniS">
                            <img src="/images/telegram.png" alt="Bootstrap" width="30" height="30">
                        </a>
                    </div>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->
</footer>
<!-- Footer -->
</div>
</div>


<!-- Подключите jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Подключите Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/@popper.js/core@2.11.6/dist/umd/popper.min.js"></script>
<!-- Подключите Bootstrap JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>